@use "colors" as *;

:root {
    @each $key, $value in $light-theme {
        --#{$key}: #{$value};
    }
    --ff-primary: "Poppins", sans-serif;
    --pd-page-inline: 1rem;

    &:has(#dark-theme:checked) {
        @each $key, $value in $dark-theme {
            --#{$key}: #{$value};
        }
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--clr-primary);
    background-color: var(--bg-primary);
    font-family: var(--ff-primary);
}

input, button {
    font-family: inherit;
    color: inherit;
    background-color: inherit;
    border: none;
}
button {
    cursor: pointer;
    font-size: inherit;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    
    &:visited {
        color: inherit;
    }
}



// headings

h3 {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: var(--clr-weak);
    letter-spacing: 0.06em
}